<ion-view hide-nav-bar="true" class="mymodalpembayarannotifikasi">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">BOOK HAS CLOSED</h1>
<!--     <button type="submit" class="button button-balanced right" ng-click="lakukanpembayarannotifikasiclose()">
      NEW SALE
    </button> -->
  </ion-header-bar>
  <ion-content>
      <div class="row responsive-md">
      <!-- <ion-spinner icon="dots" class="spinner-dark"></ion-spinner> -->
        <div class="col col-50 col-offset-25">
            <div class="header padding text-center">
                <img src="img/logo.png" alt="Your logo here"/>
            </div>
              <button type="submit" class="button button-block button-assertive">
                Yes...Kamu Sudah Melakukan Tutup Buku.
              </button>
              <button type="submit" class="button button-block button-balanced" ng-click="tutupnotifikasiclosebook()">
                OK.
              </button>
        </div>
      </div>
  </ion-content>
  <div class="bar bar-footer bar-assertive">
     <h1 class="title">Silahkan Pilih Tombol OK</h1>
  </div>
</ion-view>