<ion-view view-title="CHECK-OUT: {{noresi}}">
  <ion-content>
    <ion-list>
    <div class="row">
      <div class="col col-66">
        <div class="row" ng-repeat="item in datas track by $index">
            <div class ="col col-20">
              <button class="button button-stable button-small">{{item.ITEM_NM}} ({{item.STOCK_MAX}})</button>
            </div>
            <div class ="col col-20">
              <button class="button button-stable button-small">{{item.ITEM_HARGA|number}}</button>
            </div>
            <div class ="col col-20">
              <button class="button button-calm button-small ion-minus" ng-click="incdec('dec',item)" ></button>
              <button class="button button-stable button-small">{{item.QTY_INCART}}</button>
              <button class="button button-positive button-small ion-plus" ng-click="incdec('inc',item)"></button>
            </div>
            <div class ="col col-20">
              <button class="button button-stable button-small">
                {{item.ITEM_HARGA*item.QTY_INCART|number}}</button>
              </div>
            <div>
              <button class="button button-assertive button-small icon ion-trash-b" ng-click="deleteone(item)"></button>
            </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="row">
          <div class="col col-33">{{total|number}}</div>
          <div class="col col-33">{{expression}}</div>
          <div class="col col-33">{{100000|number}}</div>
        </div>
        <div class="row">
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(7)">7</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(8)">8</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(9)">9</button></div>
        </div>
        <div class="row">
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(4)">4</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(5)">5</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(6)">6</button></div>
        </div>
        <div class="row">
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(1)">1</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(2)">2</button></div>
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(3)">3</button></div>
        </div>
        <div class="row">
          <div class="col col-33"><button class="button button-calm button-large" ng-click="add(0)">0</button></div>
          <div class="col col-33"><button class="button button-assertive button-large">DEL</button></div>
          <div class="col col-33"><button class="button button-balanced button-large">SAV</button></div>
        </div>
      </div>
    </div>
    </ion-list>
    <button class="button button-positive button-outline button-block" ng-click="pembayaran(noresi)">Total Pay : Rp. {{total|number}}</button>
  </ion-content>
</ion-view>