<ion-view view-title="ABSENSI">
  <ion-content class="has-header has-footer" padding="true">
  <ion-refresher pulling-text="" on-refresh="doRefresh()"></ion-refresher>
    <ion-list ng-if="salesmans.length > 0">
      <ion-item class="item-avatar item-icon-right" ng-repeat="item in salesmans | orderBy:'USER_ID'" on-tap="goToDetail(item)">
        <ionic-letter-avatar data="{{item.NM_FIRST|uppercase}}" ></ionic-letter-avatar>
        <h2>{{item.USERNAME|uppercase}}/{{item.NM_FIRST|uppercase}}</h2>
        <p>{{item.WAKTU_MASUK |date: 'dd/MM/yyyy'}}</p>
        <p>{{item.WAKTU_KELUAR |date: 'dd/MM/yyyy'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-list ng-if="salesmans.length < 1">
      <ion-item class="item-icon-right calm-bg" type="item-text-wrap">
        <h2 data-fittext="1" data-fittext-max="14">BELUM ADA YANG ABSENSI</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
