<ion-view view-title="JASA RAWAT TAMAN">
  <ion-content scroll="true" class="has-header padding">
  	<ion-list>
	    <ion-item class="profile-item">
			<div class="profile-picture big-profile-picture">
				<img data-ng-src="img/rt.png">
			</div>
	      	<div class="row responsive-md">
		      <div class="col col-75 col-offset-10">
		        <div style="padding: 0px 20px 0px 0px;">
	              <div style="border-bottom:1px solid rgba(1, 1, 1, 0.1);"></div>
	            </div>
	            <div class="row">
	                <div class="col col-25">
	                <h4 class="padding left">Telepon</h4>
	                </div>
	                <div class="col col-75">      
	                  <div class="padding">
	                    <label  class="item item-input" style="background-color: #f8f8f8">
	                    <style>
	                    i.icon.ion-ios-telephone-outline {
	                        font-size: 36px;
	                        padding-right: 50px
	                      }
	                      </style>
	                      <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
	                      <input type="text" placeholder="085888647088" readonly="true">
	                    </label>
	                  </div>
	                </div>
	            </div>
	            <div style="padding: 0px 20px 0px 0px;">
	              <div style="border-bottom:1px solid rgba(1, 1, 1, 0.1);"></div>
	            </div>
	            <div class="row">
	                <div class="col col-25">
	                <h4 class="padding left">Alamat</h4>
	                </div>
	                <div class="col col-75">      
	                  <div class="padding">
	                    <label  class="item item-input" style="background-color: #f8f8f8">
	                    <style>
	                    i.icon.ion-home {
	                        font-size: 36px;
	                        padding-right: 50px
	                      }
	                      </style>
	                      <i class="icon ion-home placeholder-icon"></i>
	                      <input type="text" placeholder="Ruko De Mansion C-12, Alam Sutrea" readonly="true">
	                    </label>
	                  </div>
	                </div>
	            </div>
		      </div>
		      <div class="col col-10"></div>
		    </div>
	    </ion-item>
  	</ion-list>
  </ion-content>
</ion-view>