<ion-modal-view class="mymodalsavetobill">
  <form name="customerForm" ng-submit="submitForm(roadsalesman)">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">TAMBAH PRODUCT</h1>
    <button class="button button-clear right" ng-click="ModalTambahItemProductClose()">
      <i class="icon ion-ios-close-outline"></i>
    </button>
    <button class="button button-clear left"  type="submit" ng-disabled="customerForm.$invalid" ng-click="ModalTambahItemProductClose()">
      <i class="icon ion-android-checkbox-outline"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
       <span class="input-label">Nama Product</span>
        <input type="text" placeholder="Nama Product" ng-model="roadsalesman.JUDUL">
      </label>
      <label class="item item-input item-stacked-label">
       <span class="input-label">Harga Product</span>
        <input type="text" placeholder="Harga Product" ng-model="roadsalesman.CUSTOMER">
      </label>
      <label class="item item-input item-stacked-label">
       <span class="input-label">Gambar Product</span>
        <div class="col col-33">
          <img ng-src="img/save-image.png" width="100%" src="img/bika-ambon.jpg">
        </div>
      </label>
      <label class="item item-input item-stacked-label">
       <span class="input-label">Kategori Product</span>
        <input type="text" placeholder="Harga Product" ng-model="roadsalesman.CUSTOMER">
      </label>
    </div>
  </ion-content>
  </form>
  <div class="bar bar-footer bar-assertive">
     <h1 class="title">Semoga Usaha Anda Sukses Terus</h1>
  </div
</ion-modal-view>