<ion-modal-view class="mymodalpembayaran">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">METODE PEMBAYARAN</h1>
    <button type="submit" class="button button-outline button-assertive left" ng-click="ModalPembayaranCancel()">
      Cancel
    </button>
    <button class="button button-outline button-positive right" ng-click="lakukanpembayarannotifikasi()">
      Charge
    </button>
  </ion-header-bar>
  <ion-content>

  </ion-content>
  <div class="bar bar-footer bar-dark">
     <h1 class="title">Terimakasih Atas Kunjungan Anda</h1>
  </div
</ion-modal-view>