<ion-view view-title="BUY {{tglsekarang}}">
  <ion-content>
      <ion-list>
        <label class = "item item-input item-select">
           <div class = "input-label">
              LOKASI STORE
           </div>
          
             <select ng-model="store" ng-options="item.OUTLET_NM for item in stores" ng-change="selecttoko(store)"required>
              <option value="">-- Pilih Store --</option>
            </select>
        </label>
        <div class="row" ng-show="showbelumbooking">
          Belum Melakukan Booking.
        </div>
        <div class="row" ng-repeat="items in datas">
          <div class ="col">
            <button class="button button-stable small_button">
              {{items.ITEM_NM|capitalize}}
            </button>
          </div>
          <div class ="col">
            <button class="button button-positive small_button">{{items.ITEM_QTY}}</button>
          </div>
          <div class ="col">
            <button class="button button-calm small_button ion-minus" ng-click="incdec('dec',items)" ></button>
          
            <button class="button button-balanced small_button">{{items.belanja}}</button>
            <button class="button button-positive small_button ion-plus" ng-click="incdec('inc',items)"></button>
          </div>
        </div>
        <button class="button button-dark button-block" ng-click="submitinventory(datas)" ng-if="datas.length > 0">Submit</button>

      </ion-list>
  </ion-content>
</ion-view>