<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="view-content"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="menu" width="300">
    <!-- <ion-header-bar class="bar-assertive">
      <h1 class="title">{{appnamaperusahaan}}</h1>
    </ion-header-bar> -->
    <ion-content  style="background: url('img/login_bg.jpg'); background-size: cover;">
      <!-- <div class="item item-avatar">
        <img data-ng-src="img/adam.jpg">
        <h2>{{profile.username|capitalize}}</h2>
      </div> -->
      <div class="profile">
            <img class="profile-picture" src="img/adam.jpg" />
            <h3 class="name">{{profile.username|capitalize}}</h3>
        </div>
      <ion-list>
        <ion-item class="item-stable" nav-clear menu-close href="#/tab/sales">
          <div class="item-icon-left">
              <i class="icon ion-ios-compose"></i>
              <h2>{{'Kasir'|uppercase}}</h2>
            </div>
        </ion-item>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable" nav-clear ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <div class="item-icon-left">
              <i class="icon {{group.icons}}"></i>
              <h2>{{group.name|uppercase}}</h2>
            </div>
            <div class="item-icon-right">
                <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
            </div>
          </ion-item>
          <ion-item class="item-accordion" nav-clear menu-close ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="{{item.path}}">
            {{item.child}}
          </ion-item>
        </div>
        <!-- <ion-item class="item-stable" nav-clear menu-close href="#/tab/settings">
          <div class="item-icon-left">
            <i class="icon ion-gear-a"></i>
            <h2>{{'Settings'|uppercase}}</h2>
          </div>
        </ion-item> -->
        <ion-item class="item-stable" nav-clear menu-close ng-click="logout()">
          <div class="item-icon-left">
            <i class="icon ion-log-out"></i>
            <h2>{{'LOG OUT'|uppercase}}</h2>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
