<ion-view view-title="RAWAT TAMAN">
	<ion-content>
		<div class="row" style="flex-wrap: wrap;" ng-if="datadetail.IMG_PEKERJA.length > 1">
			<div class="col col-50" ng-repeat="pekerja in datadetail.IMG_PEKERJA">
		    	<div class="list">
					<ion-item class="profile-item" ng-click="openmodaldetailuser(pekerja)">
						<div class="profile-picture big-profile-picture" style="background:#93C178">
						  <img data-ng-src="data:image/png;base64,{{pekerja.PHOTO}}" width="100%" height="100%">
						</div>
						<p class="profile-name-custom dark">{{pekerja.NAMA|uppercase}}</p>
					</ion-item>
					<ion-item class="profile-item">
						<ionic-ratings ratingsobj='ratingsKaryawan' index='0' class="ionic_ratings_custom" readOnly="true">
						</ionic-ratings>
					</ion-item>
		  		</div>
	  		</div>
		</div>
		<div class="row" style="flex-wrap: wrap;" ng-if="datadetail.IMG_PEKERJA.length == 1">
			<div class="col col-100" ng-repeat="pekerja in datadetail.IMG_PEKERJA">
		    	<div class="list">
					<ion-item class="profile-item" ng-click="openmodaldetailuser(pekerja)">
						<div class="profile-picture big-profile-picture" style="background:#93C178">
						  <img data-ng-src="data:image/png;base64,{{pekerja.PHOTO}}" width="100%" height="100%">
						</div>
						<p class="profile-name-custom dark">{{pekerja.NAMA|uppercase}}</p>
					</ion-item>
					<ion-item class="profile-item">
						<ionic-ratings ratingsobj='ratingsKaryawan' index='0' class="ionic_ratings_custom" readOnly="true">
						</ionic-ratings>
					</ion-item>
		  		</div>
	  		</div>
		</div>
		<div class="list card">
			<style>
	            i.icon.xxx {font-size: 16px;}
	        </style>
	        <div class="item row">
	          <span style="text-align:left" class="col col-50">
	          	{{datadetail.TGL | date :'EEEE, dd-MM-yyyy'}}
	          </span>
	        </div>
	        <ion-item>
	            <div class="item-icon-left">
	                <i class="icon ion-play custom-icon-green"></i>
	                <p>CHECKIN</p>
	            </div>
	            <div class="item-icon-right">
	                <i class="icon xxx">{{datadetail.JAM_MASUK}}</i>
	            </div>
	        </ion-item>
	        <ion-item>
	            <div class="item-icon-left">
	                <i class="icon ion-stop custom-icon-red"></i>
	                <p>CHECKOUT</p>
	            </div>
	            <div class="item-icon-right">
	                <i class="icon xxx">{{datadetail.JAM_KELUAR}}</i>
	            </div>
	        </ion-item>
        </div>
  </ion-content>
</ion-view>

