
<ion-view view-title="NO RESI: {{noresi}}">
  <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-cart"  ng-click="gotocart()">
          <span class="badge badge-assertive icon-badge">{{banyakdicart}}</span>
      </button>
  </ion-nav-buttons>  
  <ion-content class="has-header" padding="false" scroll="true">
    <label class = "item item-input item-select">
      <div class = "input-label">ITEM GROUP</div>
      <select ng-model="store" ng-options="item.OUTLET_NM for item in datastores" ng-change="selecttoko(store)"required>
        <option value="">Pilih Group</option>
      </select>
    </label>
    <div class="row" style="max-height:94%">
      <div class="col col-33" style="padding-left:10px">
        <div class="box-shadow-red" style="border:1px solid green;height:100%;overflow:none;">
          <ion-item class="item-stable">
            <div class="item-icon-left" ng-click="newcustomertransaksi()">
              <i class="icon ion-person-add"></i>
              <h2>{{'New Customers'|uppercase}}</h2>
            </div>
            <div class="item-icon-right" ng-click="savetobill()">
                <i class="icon ion-ios-keypad"></i>
            </div>
          </ion-item>
          <div class="row" ng-if="itemincart.length > 0">
              <div class="my-col" style="min-width:100px">
                #.&nbsp;&nbsp;NAMA
              </div>
              <div class ="my-col">
                HARGA
              </div>
              <div class ="my-col">
                QTY
              </div>
              <div class ="my-col">
                <div style="float:right">
                  SUB
                </div>
              </div>
          </div>
          <ion-scroll direction="y" overflow-scroll="false" style="position: relative !important;max-height:100%">
            <div class="row" ng-repeat="item in itemincart track by $index">
                <div class="my-col" style="min-width:100px">
                  {{$index + 1}}.&nbsp;&nbsp;{{item.ITEM_NM}}
                </div>
                <div class="my-col">
                  {{item.ITEM_HARGA|number}}
                </div>
                <div class="my-col">
                  {{item.QTY_INCART}}
                </div>
                <div class="my-col">
                  <div style="float:right">
                    {{item.ITEM_HARGA*item.QTY_INCART|number}}
                  </div>
                </div>
            </div>
          </ion-scroll>
          <div class="row">
              <div class="my-col">
                <h5>Total From {{itemincart.length}} Item</h5>
              </div>
              <div class="my-col">
                <div style="float:right">
                  <h5 ng-if="itemincart.length > 0">{{hitungtotal(itemincart)|number}}</h5>
                  <h5 ng-if="itemincart.length == 0">0</h5>
                </div>
              </div>
          </div>
          <div style="padding:10px;margin-bottom:0px">
            <button class="button button-positive button-outline button-block" ng-click="lakukanpembayaran(noresi)">
              Total Pay : Rp. {{hitungtotal(itemincart)|number}}
            </button>
          </div>
        </div>
      </div>
      <div class="col col-66">
        <ion-scroll direction="y" overflow-scroll="false" style="position: absolute !important;top: 50px !important;bottom: 0;right: 0 !important;width: 66%;">
          <div class="row" ng-repeat="items in datas">
            <div class="col col-20" ng-repeat="item in items track by $index" >
              <div class="list">
                <div class="item item-image" style="padding-right:3px">
                  <img class="box-shadow" ng-click="tambahqtyitem(item)" ng-src="{{item.GAMBAR}}" width="100%" />
                </div>

                <a class="aitem item-icon-right">
                <p style="font-size: 12px;text-align:left;">
                  {{item.ITEM_NM|cuttext:true:9:'...'}} <br/>
                  <span style="font-weight: bold;color: black;">{{item.ITEM_HARGA|number}}</span>
                </p>
                <i style="font-size: 35px; margin-right:0px;right:1px;"  ng-click="AddToCart(item)" class="icon ion-ios-cart">
                  <span class="badge badge-balanced icon-badge" ng-if="item.QTY_INCART > 0">{{item.QTY_INCART|number}}</span>
                  <span class="badge badge-positive icon-badge" ng-if="item.QTY_INCART == 0">{{item.QTY_INCART|number}}</span>
                </i>
                </a>
                <div class="ribbon"><span>{{item.STOCK_MAX|number}}</span></div>
              </div>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>
    <div class="row" ng-if="datas.length < 1">
      Belum Ada Product Yang Akan Dijual
    </div>
  </ion-content>
</ion-view>
