<ion-modal-view class="mymodalsavetobill">
<form name="loginForm" ng-submit="login(users)" novalidate="">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">SAVE BILL</h1>
    <button type="submit" class="button button-dark left" ng-click="ModalSaveToBillClose()">
      <i class="icon ion-backspace"></i>
    </button>
    <button type="submit" class="button button-dark right" ng-click="ModalSaveToBillClose()">
      <i class="icon ion-android-checkbox-outline"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div style="min-height: 10px;" class="item item-divider  bar-assertive">
      	RADUMTA SITEPU
      </div>
    </div>
  </ion-content>
</form>
</ion-modal-view>