.modaldetail 
  {  
     width: 100%; 
     height: 100%; 
     top: 0px; 
     left: 0px; 
     right: 0px; 
     bottom: 0px;
     overflow: hidden;
  }


/* Fix modal backdrop for smaller devices */
/*@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}*/

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider 
{
    width: 100%;
    height: 100%;
}
 
.image 
{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}