<ion-modal-view class="mymodalpembayarannotifikasi">
  <form name="customerForm" ng-submit="ModalTambahItemProductClose()">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">TAMBAH PRODUCT</h1>
    <button class="button button-clear right" ng-click="ModalTambahItemProductCancel()">
      <i class="icon ion-ios-close-outline"></i>
    </button>
    <button class="button button-clear left"  type="submit" ng-disabled="customerForm.$invalid">
      <i class="icon ion-android-checkbox-outline"></i>
    </button>
  </ion-header-bar>
  <ion-content scroll="true">
    <div class="list">
      <div class="row" style="flex-wrap: wrap;">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Nama Product</span>
            <input type="text" placeholder="Nama Product" ng-model="newproduct.ITEM_NM" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Harga Product</span>
            <input type="number" placeholder="Harga" ng-model="newproduct.DEFAULT_HARGA" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Jumlah Product</span>
            <input type="number" placeholder="Jumlah" min="0" ng-model="newproduct.DEFAULT_STOCK" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Satuan Product</span>
            <input type="text" placeholder="Satuan" ng-model="newproduct.SATUAN" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Group Product</span>
            <input type="text" placeholder="GROUP" ng-model="newproduct.GROUP" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">Gambar Product</span>
              <!-- <img id="myImage" ng-src="{{newproduct.DEFAULT_IMAGE}}" width="100%"> -->
              <input type="text" placeholder="GROUP" ng-model="newproduct.GROUP" required>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
  </form>
</ion-modal-view>