<ion-modal-view class="mymodalsavetobill">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">SAVE BILL</h1>
    <button type="submit" class="button button-dark left" ng-click="ModalSaveToBillCancel()">
      <i class="icon ion-backspace"></i>
    </button>
    <button type="submit" class="button button-dark right" ng-click="ModalSaveToBillClose()">
      <i class="icon ion-android-checkbox-outline"></i>
    </button>
  </ion-header-bar>
  <ion-content>
      <label class="item item-input">
        <span class="input-label">BILL IDENTITY</span>
        <input type="text" placeholder="INPUT IDENTITY" ng-model="billidentity" required>
      </label>
      <ion-item class="item item-stable" ng-repeat="itembill in listbill| orderBy:'-NOMOR_TRANS'" ng-click="loadfrombill(itembill)" on-hold="deletecart()">
        <div class="item-icon-left">
            <i class="icon ion-ios-compose" ng-if="itembill.NOMOR_TRANS != billidentity"></i>
            <i class="icon ion-checkmark-round" ng-if="itembill.NOMOR_TRANS == billidentity"></i>
            <h2>{{splitenomorbill(itembill.NOMOR_TRANS)}}</h2>
        </div>
        <div class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </ion-item>
  </ion-content>
</div>
</ion-modal-view>