<ion-view view-title="CHARTS" name="tab-charts">
  <ion-tabs class="tabs-top tabs-dark">
      <ion-tab title="SALES PO" href="#/tab/charts/salespo">
        <ion-nav-view name="salespo-charts"></ion-nav-view>
      </ion-tab>
      <ion-tab title="STOCK GUDANG" href="#/tab/charts/gudangstock">
        <ion-nav-view name="gudangstock-charts"></ion-nav-view>
      </ion-tab>
      <ion-tab title="STOCK CUST" href="#/tab/charts/stock">
        <ion-nav-view name="stock-charts"></ion-nav-view>
      </ion-tab>
      <ion-tab title="EXPIRED CUST" href="#/tab/charts/expired">
        <ion-nav-view name="expired-charts"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>