<ion-view view-title="TRANS PENJUALAN {{tglsekarang}}">  
  <ion-content>
    <div class="row" style="height:100%">
      <div class="col col-33" style="padding-right:10px;border-right: 2px solid rgba(1, 1, 1, 0.1);">
        <div style="height: 100%">
          <ion-item class="item-assertive" >
            <div class="item-icon-left" ng-click="newcustomertransaksi()">
              <i class="icon ion-ios-chatboxes-outline"></i>
              <h2>LIST TRANSAKSI</h2>
            </div>
          </ion-item>
          <ion-scroll direction="y" overflow-scroll="true" delegate-handle="scrolltobottom" style="position: relative !important;max-height:80%;overflow-y: scroll;">
            <style>
                i.icon.xxx {font-size: 16px;}
                .item-icon-left.xxx {padding-left: 20px;}
                .itemx {padding-top: 10px;padding-bottom: 10px;}
            </style>
            <div class="item item-divider item-calm" ng-if="dataoffline.length > 0">
              BELUM SINKRON
            </div>
            <ion-item class="item itemx"  ng-repeat="item in datas | orderBy:'IS_ONSERVER' track by $index " ng-click="showdetail(item)" ng-class="[isGroupShown(item) ? 'custom-active':'']" ng-if="!item.IS_ONSERVER">
                <div class="item-icon-left xxx" on-tap="detailstore(store)" >
                    <i class="icon xxx">{{$index + 1}}.</i>
                    <h2>{{item.SPLIT}}</h2>
                </div>
                <div class="item-icon-right">
                    <i class="icon xxx">{{item.TOTAL_HARGA|number}}</i>
                </div>
            </ion-item>
            <div class="item item-divider item-calm" ng-if="dataonline.length > 0">
              SUDAH SINKRON
            </div>
            <ion-item class="item itemx"  ng-repeat="item in datas | orderBy:'IS_ONSERVER'  track by $index" ng-click="showdetail(item)" ng-class="[isGroupShown(item) ? 'custom-active':'']" ng-if="item.IS_ONSERVER">
                <div class="item-icon-left xxx" on-tap="detailstore(store)" >
                    <i class="icon xxx">{{$index + 1}}.</i>
                    <h2>{{item.SPLIT}}</h2>
                </div>
                <div class="item-icon-right">
                    <i class="icon xxx">{{item.TOTAL_HARGA|number}}</i>
                </div>
            </ion-item>
          </ion-scroll>
          <ion-item class="item item-stable">
                <div class="item-icon-left" on-tap="detailstore(store)">
                    <h2>TOTAL</h2>
                </div>
                <div class="item-icon-right">
                    <i class="icon xxx">
                      <h2 ng-if="datas.length > 0">{{total|number}}</h2>
                      <h2 ng-if="datas.length == 0">0</h2>
                    </i>
                </div>
          </ion-item>
        </div>
      </div>
      <div class="col col-66" style="padding-left:10px;" ng-if="headerdetail">
      <ion-scroll direction="y" overflow-scroll="true" style="position: relative !important;height:100%;overflow-y: scroll;">
        <ion-item class="item-assertive" >
          <div class="item-icon-left">
            <i class="icon ion-ios-chatboxes"></i>
            <h2>DETAIL {{headerdetail.TRANS_ID}}</h2>
          </div>
        </ion-item>
        <div class="row" style="flex-wrap: wrap;padding-top: 10px;">
          <div class="col col-33"  ng-repeat="item in datayangdibeli | filter: filterproduct track by $index">
            <ion-item class="item-stable" style="padding-top: 5px;padding-bottom: 5px">
              <div class="item-icon-left" style="padding-left:34px">
                  <i class="icon ion-ios-compose"></i>
                  <span style="font-size: 12px;text-align:left;">
                    {{item.ITEM_NM|cuttext:true:19:'...'}}
                  </span></br>
                  <span style="font-size:12px;font-weight: bold;color: black;"> 
                    {{item.ITEM_HARGA|number}}
                  </span>
              </div>
              <div class="item-icon-right">
                <i style="font-size: 35px; margin-right:0px;right:1px;" class="icon ion-ios-cart">
                  <span class="badge badge-balanced icon-badge" style="right:0px;">
                    {{item.QTY_INCART|number}}
                  </span>
                </i>
              </div>
            </ion-item>
          </div>
        </div>
        <ion-item class="item-assertive">
          <div class="item-icon-left">
            <i class="icon ion-card"></i>
            <h2>PEMBAYARAN {{headerdetail.TYPE_PAY}} {{headerdetail.BANK_NM}}</h2>
          </div>
        </ion-item>
        <div style="padding-top: 10px;" ng-if="headerdetail.CONSUMER_NM != 'undefined'">
          <ion-item class="item-assertive" >
            <div class="item-icon-left">
              <i class="icon ion-person-add"></i>
              <h2>USER INFO</h2>
            </div>
          </ion-item>
          <div class="col col-100">
            <div class="row" style="flex-wrap: wrap;padding-top: 10px;">
                <div class="col col-50">      
                  <div>
                    <label  class="item item-input" style="background-color: #f8f8f8">
                    <style>
                    i.icon.ion-card {
                        font-size: 36px;
                        padding-right: 50px
                      }
                      </style>
                      <i class="icon ion-card placeholder-icon"></i>
                      <input type="text" placeholder="NAMA" ng-model="headerdetail.CONSUMER_NM" readonly="true">
                    </label>
                  </div>
                </div>
                <div class="col col-50">      
                  <div>
                    <label  class="item item-input" style="background-color: #f8f8f8">
                    <style>
                    i.icon.ion-card {
                        font-size: 36px;
                        padding-right: 50px
                      }
                      </style>
                      <i class="icon ion-card placeholder-icon"></i>
                      <input type="text" placeholder="EMAIL" ng-model="headerdetail.CONSUMER_EMAIL" readonly="true">
                    </label>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </ion-scroll>
      </div>
      <div class="col col-66" ng-if="!headerdetail">Klick Item Di List Transaksi</div>
    </div>
  </ion-content>
</ion-view>