<ion-view view-title="INVENTORY" name="checkstore-inventory">
  <ion-tabs class="tabs-top tabs-assertive">
      <ion-tab title="INVENTORY" href="#/tab/checkstore/inventory">
        <ion-nav-view name="checkstore-inventory"></ion-nav-view>
      </ion-tab>
      <ion-tab title="BOOKING" href="#/tab/checkstore/booking">
        <ion-nav-view name="checkstore-booking"></ion-nav-view>
      </ion-tab>
      <ion-tab title="SYNC" href="#/tab/checkstore/sync">
        <ion-nav-view name="checkstore-sync"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>