<ion-view view-title="INVENTORY {{tglsekarang}}">
  <ion-content>
      <ion-list>
        <div class="row" ng-repeat="items in datas">
          <div class ="col">
            <button class="button button-stable button-small">
              {{items.ItemNm|capitalize}}
            </button>
          </div>
          <div class ="col">
            <button class="button button-stable button-small">
              {{items.GRP_DISPLAY|capitalize}}
            </button>
          </div>
          <div class ="col">
            <button class="button button-balanced button-small">50</button>
            <button class="button button-positive button-small">50</button>
          </div>
          <div class ="col">
            <button class="button button-stable button-small ion-minus" ng-click="incdec('dec',item)" ></button>
            <button class="button button-balanced button-small">50</button>
            <button class="button button-stable button-small ion-plus" ng-click="incdec('inc',item)"></button>
          </div>
          <div class ="col">
            <button class="button button-balanced button-small icon ion-checkmark-circled" ng-click="deleteone(item)"></button>
          </div>
        </div>
        <div class="row">
          <div class ="col">
            <button class="button button-stable button-small">Risol Medan</button>
          </div>
          <div class ="col">
            <button class="button button-stable button-small">
              Makanan
            </button>
          </div>
          <div class ="col">
            <button class="button button-balanced button-small">50</button>
            <button class="button button-positive button-small">50</button>
          </div>
          <div class ="col">
            <button class="button button-calm button-small ion-minus" ng-click="incdec('dec',item)" ></button>
            <button class="button button-stable button-small">50</button>
            <button class="button button-positive button-small ion-plus" ng-click="incdec('inc',item)"></button>
          </div>
          <div class ="col">
            <button class="button button-positive button-small icon ion-checkmark-circled" ng-click="deleteone(item)"></button>
          </div>
        </div>
      </ion-list>
  </ion-content>
</ion-view>