<ion-view view-title="SYNC PENJUALAN {{tglsekarang}}">
  <ion-content>
        <div class="row" ng-repeat="items in datas" ng-if="items.status != 'incomplete'">
          <div class ="col">
            <button class="button button-stable small_button">
              {{items.notransk|uppercase}}
            </button>
          </div>
          <div class ="col">
            <button class="button button-positive small_button">
              {{items.jumlahitem}} Item
            </button>
          </div>
          <div class ="col">
            <button class="button button-balanced small_button">
              Rp. {{items.subtotal|number}}
            </button>
          </div>
          <div class ="col">
            <button class="button button-positive small_button  ion-checkmark-circled"  
              ng-click="synctoserver(items)">
            </button>
          </div>
        </div>
  </ion-content>
</ion-view>