<ion-tabs class="tabs-dark">

  <ion-tab icon-off="ion-ios-compose" icon-on="ion-ios-compose" href="#/tab/cashier">
    <ion-nav-view name="tab-sales"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-funnel" icon-on="ion-funnel" href="#/tab/checkstore/inventory">
    <ion-nav-view name="tab-checkstore"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-shuffle" icon-on="ion-shuffle" href="#/tab/ga-action/inventory">
    <ion-nav-view name="tab-ga-action"></ion-nav-view>
  </ion-tab>
  </ion-tab>
  <ion-tab icon-off="ion-log-out" icon-on="ion-log-out" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
