body {
  cursor: url("http://ionicframework.com/img/finger.png"), auto;
}

.button-float {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 60px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important;
}

.large_button {
  line-height: 20vh !important;
  width: 50%;
}

.small_button {
  line-height: 25px !important;
  min-height: 35px !important;
}


.button-tambahitem {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 50px !important;
  right: 50px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-tambahitem:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important;
}
